<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @ticket.product_id %>
</p>

<p>
  <strong>Prices:</strong>
  <%= @ticket.prices %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
